<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="OracleDbContext" 
             connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=NIOGEMS_RDS)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=NIOGEMS)));User Id=sys;Password=N0raD3mr#1;" 
             providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.7.2" />
        <httpRuntime targetFramework="4.7.2" />
    </system.web>

    <system.webServer>
        <defaultDocument enabled="true" />
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>